* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(7, 7, 9);
  color: white;
  font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(23, 22, 22);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
  size: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: none;
  color: rgb(75, 112, 88);
  font-size: 1.05rem;
}
main hr {
  border: 0;
  background-color: gray;
  height: 1.2px;
  margin: 40px 84px;
}
.left {
  font-size: 1.7rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 3rem;
}
.leftSection .button {
  padding: 23px;
}
.leftSection .btn {
  padding: 12px;
  background: rgb(41, 40, 40);
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.rightSection img {
  width: 450px;
}
.purple {
  color: rgb(79, 78, 78);
}
.text-grey {
  color: white;
}

#element {
  color: rgb(79, 78, 78);
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.secondSection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondSection .verticle {
  height: 94px;
  width: 1px;
  background-color: white;
  margin: 0 200px;
}
.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -12px;
}
.verticle-title {
  position: relative;
  top: 75px;
  width: 300px;
  left: -90px;
}
.vertical-desc {
  position: relative;
  top: 86px;
  color: grey;
  width: 150px;
  left: -40px;
  font-size: 12px;
}
footer {
  background-color: #1e1e1e;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 223px;
}
footer .footer-rights {
  text-align: center;
  color: grey;
  padding: 12px 0;
}
